.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.input {
  color: #d10a0a;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: block;
}

.button_add {
  font-size: 20px;
  font-weight: 600;
  color: rgb(3, 79, 85);
  margin-top: 30px;
  padding: 15px;
  border: none;
  box-shadow: 0 0 2px #333;
  cursor: pointer;
  background-color: #13caeb;
  border-radius: 5px;
  transition-duration: 400ms;
}

.button_add:hover {
  background-color: rgba(6, 243, 203, 0.8);
}
